@import url("https://fonts.googleapis.com/css2?family=Literata:ital@0;1&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"); */

body {
  margin: 0;
  font-family: "Source Sans Pro", Literata, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", Literata, source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}
code {
  font-family: "Source Sans Pro", Literata, source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}
.ui.menu {
  font-family: "Source Sans Pro", Literata, source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}
/* a {
  color: #ecf0f3 !important;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #b1b1b1 !important;
  text-decoration: none !important;
  background-color: transparent;
} */
.image.avatar img {
  border-radius: 100%;
  width: 50%;
  max-width: 100px;
}

div.modal {
  position: inherit;
  top: auto;
  left: auto;
  z-index: inherit;
  display: auto;
  width: initial;
  height: initial;
  overflow: unset;
  outline: 0;
}
.button {
/*   background: transparent !important;
  color: aliceblue !important; */
}
.button:hover {
  background: transparent !important;
  color: #b1b1b1 !important;
}
.gray {
  color: gray;
}
@media screen and (min-width: 980px) {
  .omg-sidebar_layout {
    background-size: auto, contain;
    background-repeat: repeat, repeat;
  }
}
.btwline {
  font-weight: 700;
  font-size: calc(3px + 1.8vmin);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  padding: 20px;
  color: #a7a8ae;
}
.btwline2 {
  font-weight: 700;
  font-size: calc(15px + 2vmin);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  padding: 20px;
  color: #a7a8ae;
}
.cards {
  min-height: 220px !important;
}
